
<!-- start of go back -->
<a routerLink="/home"><div class="goback"></div></a>
<!-- end of go back -->

<!-- Begin login info -->
<div class="container login-buttons">
    <div class="row">
        <div class="col-sm-12">
            <!-- Header below -->
            <h1 class="text-center white-text blue-text-shadow">Login</h1>
            <p *ngIf="(!loggedInUser)" class="text-center white-text">You are not logged in!</p>
            <p *ngIf="(loggedInUser)" class="text-center white-text">You are logged in as {{ loggedInUser.displayName }}.</p>
            <div class="flex-container justify-center">
                <button class="btn btn-info" [disabled]="loggedInUser" (click)="login()">Login</button>
                <button class="btn btn-info" [disabled]="!loggedInUser" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>

<!-- End login info -->

<!-- Begin user validation -->
<!-- <div>
    <p>Is user in the system: {{ userIdResult }}</p>
    <p>Does user have a view password: {{ viewPassResult }}</p>
</div> -->
<!-- End user validation -->

<!-- Begin Initialize user block -->
<!-- This only shows up if the user is logged in AND they have no ID in the system -->
<div *ngIf="loggedInUser && userIdResult === false" class="container login-register">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="blue-text-shadow text-center">Register</h3>
            <p class="text-center">Thanks for using the ATL app. You are logged in, but aren't registered in the database. Let's get you in there.</p>
        </div>
    </div>
    <div class="row login-register-pw-top">
        <div class="col-sm-2 col-sm-offset-4">
            <label>Input viewing password:</label>                
        </div>
        <div class="col-sm-2">
            <input class="login-register-viewpass" [(ngModel)]="pass1" type="password">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
            <label>Repeat to confirm: </label>
        </div>
        <div class="col-sm-2">
            <input class="login-register-viewpass" [(ngModel)]="pass2" type="password">
        </div>
    </div>
    <div class="row">
        <h4 class="login-register-disclaimer text-center">This password will be required in order to view all tips associated with your account. Do not give this password out.</h4>
        <div class="flex-container justify-center">
            <button class="btn btn-info login-register-button" [disabled]="pass1 !== pass2 || pass1 == ''" (click)="submitNewUser()">Submit user into database</button>
        </div>
        <p *ngIf="_passwordError===true">Error: Invalid password</p>
    
    </div>
</div>
<!-- End Initiliaze user block -->

<!-- Begin display tips section -->
<!-- This onlyl shows up if the user is logged in and they have a view password -->

<div *ngIf="loggedInUser && userIdResult === true && viewPassResult === true" class="container">
    <div class="row">
        <div class="col-sm-12 login-tips">
            <div class="flex-container justify-center">
                <button class="btn btn-info" (click)="viewTips()">Click here to view tips</button>
            </div>
            <div *ngIf="canViewTips === true">
                <h2 class="text-center">Current tips</h2>
                
                    <!-- Begin header row -->
                    <div class="row login-tip-view-header">
                        <div class="col-sm-3">
                            <h2>DATE</h2>
                        </div>
                        <div class="col-sm-9">
                            <h2>TIP</h2>
                        </div>
                    </div> <!-- End header row -->
                    <!-- Begin for loop of tips -->
                    <div class="row tip-row" *ngFor="let tip of userTips">
                        <div class="col-sm-3">{{ tip.date | date: 'medium' }}</div>
                        <div class="col-sm-9">{{ tip.content }}</div>
                    </div>
                    <!-- End for loop of tips -->
                    <div class="flex-container justify-center">
                        <button class="btn btn-danger login-tip-view-clear-button" (click)="deleteMyTips()">Clear all tips</button>
                    </div>
            </div>
        </div>
    </div>

</div>
<!-- End display tips sectoin -->