.white-text {
  color: #fff;
}


.goback{
  height:25px;
  width: 25px;
  position: absolute;
  left:calc(100% - 95px);
  top:10px;
  z-index: 2000;
  background-image: url('../img/back-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tip-row {
  border-bottom: 10px solid red;
  overflow: hidden;
}