
<!-- start of go back button -->
  <a  routerLink="/home"><div class="goback"></div></a>
<!-- end of go back button -->



<div class="container">
    <div class="row">
        <div class="col-sm-12 tutorial-container">
            <h2 class="blue-text-shadow text-center">Tutorial</h2>
            <p class="text-center">Thanks for choosing to use the ATL app! Here are instruction on how to get started.</p>
            <h3 class="tutorial-header">Login First</h3>
            <p>Go to the login page and login to your Google account. If you don't have one, create one. It's super secure! Once you log in, you should stay logged in
                the next time you visit the app.
            </p>
            <h3 class="tutorial-header">Register to the database</h3>
            <p>After logging in to your google account, you will be prompted to enter a viewing password. DO NOT LOSE THIS AND DO NOT GIVE THIS OUT. This password will be
                required when you go to view your tips. Input the password twice and submit.
            </p>
            <h3 class="tutorial-header">Entering Tips</h3>
            <p>Now anyone can enter tips that will go to your account. Simply navigate the app to the tip page and anyone can now submit a tip. The app will send the tip
                and the date and time it was sent. No one will be able to view any tips that have been sent in without entering in your view password. You can enter Tips
                on any machine running the app as long as it is logged in to your account.
            </p>
            <h3 class="tutorial-header">Viewing Tips</h3>
            <p>From any machine that is logged in to your account on the app, go to the login page and click the button to view all tips that have been submitted. You will
                have to enter your viewing password in order to see it. You do not have to do this on the same machine that the tip was submitted on; anything with a web
                browser will do!
            </p>
        </div>
    </div>
</div>
