.tutorial-banner {
    background-color: rgba(50, 50, 50, 0.4);
    color: #fff;
}

.tutorial-container {
    border: 8px ridge #fff;
    color: #ffff;
    background-color: rgba(50, 50, 50, 0.9);
}

.tutorial-header {
    color: dodgerblue;
    text-shadow: 1px 1px 1px #666;
}