<!-- start of hero image -->

<div class="zindex-ear"></div>
<div class="large bubble center-block text-center">
<p id="curve-text-1"> &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; &#x200b; Anonymous Tip Line</p>
</div>

<div class="medium bubble center-block"></div>

<div class="small bubble center-block"></div>

<app-login></app-login>
<app-tip></app-tip>

<!-- end of hero image -->
