
<!-- start of go back button -->
  <a  routerLink="/home"><div class="goback"></div></a>
<!-- end of go back button -->

<!-- header -->
  <h1 class="text-center">Send Anonymous Tip</h1>


<!-- start of form -->
  <form action="">
    <textarea id="user-tips" class="tips center-block" name="tip" rows="18" cols="80" placeholder="Enter tip here!..." required></textarea>

    <input type="checkbox" name="disclaimer" value="disclaimer">
    <label for="disclaimer">I agree to the a.t.l disclaimer</label>

    <input class="tip-submit center-block" type="submit" name="submit" value="Submit Tip">
  </form>
<!-- end of form -->
