h1{
  margin-top: 0px;
  padding-top: 0px;
  color:white;

}

.white-text{ 
  color: #fff;
  text-shadow: 2px 2px 2px #000; 
}


/*go back button styles*/
.goback{
  height:25px;
  width: 25px;
  position: absolute;
  left:calc(100% - 95px);
  top:10px;
  z-index: 2000;
  background-image: url('../img/back-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


 /*tips and submit styles*/
.tips{
  width: 85%;
  margin-top: 30px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tip-submit{
  width: 85%;
  height:90%;
  background-color: #fff;
  color: #6495ED;
  margin-top: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  resize: none;
}

/*disclaimer styles*/
input[type=checkbox]{
  margin-left: 7.5%;
  margin-top: 10px;
}
input[type=checkbox] + label{
  margin-left: 3px;
}

.tip-page-disclaimer {
  border: 8px ridge #fff;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.9);
  margin-top: 60px;
}

.explosion{
  background-image: url('../img/Explode_fire.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 34%
}
.hide {
  visibility: hidden;
}

@media (max-width: 768px) {
  .explosion {
    left: 0%;
  }
}
